body {
	margin: 0;
	background: #221142;
    font-size: 1rem;
    font-family: "Raleway", sans-serif;
    color: #d0dae8;
}

h2 {
	text-align: center;
	font-family: 'Big Shoulders Stencil Display', cursive;
}

p {
	font-family: 'Big Shoulders Stencil Display', cursive;
}

li {
	display: inline-block;
}

.fit-picture {
	background-image: url('Nebula.jpg')
}
